.container{
    border: 1px solid #C9CCCF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 100px;
    padding: 12px;
}

.chooseTemplateTxt{
font-family: 'SF Pro Text';
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
margin-bottom: 12px;

}

.widgetContainer{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    overflow-y: scroll;
}
.widgetContainer::-webkit-scrollbar{
    display: none;
}
.widgetItem{
    margin: 6px 8px;
}
.text{
    margin-top: 8px;
    text-align: center;
    font-family: 'SF Pro Text';
font-size: 14px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0px;
text-align: center;

}